<template name="layout">
	 <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<div id="main">
		<h1 class="center-text">Welcome to fakeAGram</h1>
		{{#if currentUser}}
			<h3 class="center-text">{{username}}</h3>
		{{/if}}
			<div class="icons">
				{{#if currentUser}}
				<i class="fa fa-globe"></i>
				<i class="fa fa-instagram"></i>
				<i class="fa fa-home"></i>
				<i class="fa fa-sign-out"></i>
				{{/if}}
			</div>
		{{>yield}}
	</div>
	<footer>
		<p class="center-text">Nathanael Paulemon</p>
		<a href="https://github.com/npaul007/fakeAGram" class="center-text"><p class="center-text">Github</p></a>
	</footer>
</template>


<template name="loading">
	{{>spinner}}
</template>