<template name="layout">
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<div id="main">
		{{>navbar}}
		{{>yield}}
		{{>footer}}
	</div>
</template>


<template name="loading">
	{{>spinner}}
</template>

<template name="navbar">
	<div class="navbar navbar-default" id="navbar-top">
		<h1 class="navbar-brand center-text" id="navHeader"><strong>otherGram</strong></h1>
		{{#if currentUser}}
			<img src="empty.gif" id="loggedUserPic">
			<p class="center-text" style="color:white;">{{username}}</p>
		{{/if}}
	</div>
</template>

<template name="footer">
	<div class="footer navbar-fixed-bottom" id="navbar-bottom">
		{{#if Template.subscriptionsReady}}
			{{#if currentUser}}
				<div class="icons">
					<i class="fa fa-globe {{#if isCurrentPage "worldPics"}}active{{/if}}"></i>
					<i class="fa fa-users "></i>
					<i class="fa fa-instagram {{#if isCurrentPage "photoCrop"}}active{{/if}}"></i>
					<i class="fa fa-home {{#if isCurrentPage "yourPics"}}active{{/if}}"></i>
					<i class="fa fa-sign-out"></i>
				</div>
			{{/if}}
		{{else}}
			<div class="margin-bottom">{{> loading}}</div>
		{{/if}}
		<a href="http://nathanaelpaulemon.co.nf/" id="myName">Nathanael Paulemon</a>
		<a href="https://github.com/npaul007/otherGram" id="githubLink">Github</a>
	</div>
</template>