@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
body{
	color: white;
	font-family: 'Open Sans',sans-serif;
	background: #fff2e5;
}

label{
	color: black;
}

.container{
    margin-bottom: 100px;
    color: black;
}

.shadow{
	box-shadow: 1px 1px 1px gray;
}

.icons{
	font-size: 2.5em;
	text-align: center;
	background:  #ff3300;
	padding: 10px;
}

.active{
	border-bottom: 4px solid white;
	margin-top: 2px;
}

i{
	margin-right: 20px;
	outline: none;
}

a{
	color: white;
	text-decoration: none;
	outline: none;
}

a:visited{
	color: white;
}

.inline{
	display: inline;
}

.inline-block{
	display: inline-block;
}

.center{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.center-text{
	text-align: center;
}

#navbar-top{
	background: #cc0000;
	padding: 5px;
}

#navSearchContainer{
	text-align: center;
}

#navSearchBar{
	width: 45%;
}

#navSearchButton{
	position: relative;
	top: -8px;
	color: white;
	background: #660033;
	border: 2px solid #660033;
}

#navSearchButton:hover{
	background: white;
	color: #660033;
}

#navUsername{
	text-align: right;
}

#navHeader{
	font-family: 'Lily Script One', cursive;
}

#navbar-bottom{
	position: fixed;
	background: #cc0000;
}

#githubLink{
	float: right;
	text-decoration: none;
	color: white;
	padding-right:22px;
}

#myName{
	float: left;
	text-decoration: none;
	color: white;
	padding-left: 22px;
}

