body{
	color: white;
	background: #ffe6cc;
}

label{
	color: black;
}

.container{
    margin-bottom: 120px;
    color: black;
}

.shadow{
	box-shadow: 1px 1px 1px gray;
}

.icons{
	font-size: 2.5em;
	text-align: center;
	background:  #ff3300;
	padding: 10px;
}

.hidden{
	display: none;
}

.active{
	border-bottom: 4px solid white;
	margin-top: 2px;
}

i{
	margin-right: 20px;
	outline: none;
}

a{
	color: white;
	text-decoration: none;
	outline: none;
}

a:visited{
	color: white;
}

.inline{
	display: inline;
}

.inline-block{
	display: inline-block;
}

.center{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.center-text{
	text-align: center;
}

#navbar-top{
	background: #cc0000;
	padding: 5px;
}

#navUsername{
	text-align: right;
}

#navbar-bottom{
	position: fixed;
	background: #cc0000;
}

#githubLink{
	float: right;
	text-decoration: none;
	color: white;
	padding-right:22px;
}

#myName{
	float: left;
	text-decoration: none;
	color: white;
	padding-left: 22px;
}

#loggedUserPic{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.photoFormatButtons{
	color: white;
	background: #660033;
	border: 2px solid #660033;
	font-size: 2em;
	padding: 3px;
	width: 30px;
}

.photoFormatButtons:hover{
	background: #cc0066;
	border: 2px solid #cc0066;
}

#gridButtons{
	text-align: center;
	position: relative;
	right: -10px;
	margin-bottom: 15px;
}

.margin-bottom{
	margin-bottom: 35px;
}
