@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

body{
	color: white;
	font-family: 'Open Sans',sans-serif;
	background: url(seamless-marbleized-textures-2.jpg);
}

label{
	color: black;
}

.container{
    margin-bottom: 400px;
}

.shadow{
	box-shadow: 2px 2px 2px white;
}

.icons{
	font-size: 3.5em;
	text-align: center;
	background:  #993366;
}

#iconGlobeDiv{
	background: green;
}

i{
	margin-right: 20px;
}

i:hover{
	color: teal;
}

.inline{
	display: inline;
}

.inline-block{
	display: inline-block;
}

.center{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.center-text{
	text-align: center;
}

#navbar-top{
	background: #cc0000;
	padding: 5px;
}

#navSearchContainer{
	text-align: center;
}

#navSearchBar{
	width: 45%;
}

#navSearchButton{
	position: relative;
	top: -8px;
	color: white;
	background: #660033;
	border: 2px solid #660033;
}

#navSearchButton:hover{
	background: white;
	color: #660033;
}

#navUsername{
	text-align: right;
}

#navHeader{
	font-family: 'Lily Script One', cursive;
}

#navbar-bottom{
	background: #660033;
	position: fixed;
}

#githubLink{
	text-decoration: none;
	color: white;
	font-size: .8em;
}