<template name="photoCrop">
	<div class="container">
		<div class="col-md-12">
			<h3 class="center-text">Photo Upload</h3>
			<div id="uploadDiv">
				<input type='file' id="uploaded" size="10" accept="image/*" />
				<label for="file" id="uploadLabel">Upload</label>
				<p></p>
				<img src="#" id="displayPic" class="img-responsive">
				<p></p>
				<textarea id="text" placeholder="your post"></textarea>
				<p></p>
				<button id="submitPic" class="btn btn-default form-control">Share</button>
			</div>
		</div>
	</div>
</template>
