#registerForm{
	width: 240px;
	padding: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: white;
	border-radius: 5px;
}

#submitButton{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#registerUsername , #registerPassword , #registerConfirmPassword{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#registerSubmitButton , #back{
	margin-top: 10px;
	padding: 5px;

	display: block;
	margin-right: auto;
	margin-left: auto;

	width: 35%;

	color: white;
	background: #660033;
	border: 2px solid #660033;
}

#registerSubmitButton:hover{
	background: #cc0066;
	border: 2px solid #cc0066;
}

#back:hover{
	background: #cc0066;
	border: 2px solid #cc0066;
}

