<template name="worldPics">
	<div class="container">
		<div class="col-md-12">
			<h2 class="center-text">World</h2>
			{{#each images}}
				<div class="worldPicContainer shadow">
					<h4>{{this.metadata.username}}</h4>
					<h5>{{this.copies.images.updatedAt}}</h5>
					<img src="{{this.url}}" alt="thumbnail" class="postedPic">
					<div class="likesDiv">
						<i class="fa fa-thumbs-o-up"></i>
						<p class="inline">{{this.metadata.likes}}</p>
					</div>
					<p>{{this.metadata.post}}</p>
				</div>
			{{/each}}
		</div>
	</div>
</template>