.worldPicContainer{
	width: 50%;
	padding: 20px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: white;
	margin-left: auto;
	margin-right: auto;
	word-wrap:break-word;
}

.fa-thumbs-o-up{
	font-size: 1.6em;
	cursor: pointer;
}

.fa-pencil-square-o{
	float: right;
	position: relative;
	top: -30px;
	cursor: pointer;
}

.center-fix{
	position: relative;
	left: -10px;
}

#likesDiv{
	margin: 10px;
}

.pUser{
	padding-left: 20px;
}

.photoFormatButtons:hover{
	cursor: pointer;
}

#commentInput{
	width: 100%;
	position: relative;
	left: -7px;
	border: 0;
    box-shadow: none; 
    border-bottom: .1em solid gray;
}

#submitComment:hover{
	background: #cc0066;
	border: 2px solid #cc0066;
}

#userProfilePicPost{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	float: left;
	margin-right: 10px;
}

#deletePostButton{
	float: right;
	cursor: pointer;
}

#deletePostButton:hover{
	color: red;
}

.pPost{
	text-align: left;
}

.pDate{
	margin-left: 40px;
}

.pPic{
	width: 100%;
	height: 100%;
}

@media (max-width: 800px){
	.worldPicContainer{
		width: 91%;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 20px;
		background: white;
		display: block;
		margin-left: auto;
		margin-right: auto;
		word-wrap:break-word;
	}

}