#worldPicContainer{
	width: 50%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	word-wrap:break-word;
}

.fa-thumbs-o-up{
	font-size: 1.6em;
}

#likesDiv{
	margin: 10px;
}

#postedPic{
	width: 95%;
	height: 95%;
}


@media (max-width: 800px){
	#postedPic{
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		height: 90%;
	}

	#worldPicContainer{
		width: 90%;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 20px;
		background: white;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		word-wrap:break-word;
	}

}