<template name="worldPics">
	{{#if Template.subscriptionsReady}}
	<div class="container">
		<div class="col-md-12">
			{{#each images}}
				<div id="worldPicContainer" class="shadow">
					<h4>{{this.metadata.username}}</h4>
					<h5>{{this.copies.images.updatedAt}}</h5>
					<img src="{{this.url}}" alt="thumbnail" class="img-responsive img-thumbnail" id="postedPic">
					<div id="likesDiv">
						<i class="fa fa-thumbs-o-up"></i>
						<p class="inline">{{this.metadata.likes}}</p>
					</div>
					<p>{{this.metadata.post}}</p>
					<input type="text" class="form-control" id="commentInput">
				</div>
			{{/each}}
		</div>
	</div>
	{{else}}
		{{> loading}}
	{{/if}}
</template>