<template name="worldPics">
	<div class="container">
		<div class="col-md-12">
			<h2 class="center-text">World</h2>
			<div id="worldPicContainer" class="shadow">
				<h4>Username</h4>
				<img src="20150101_140518 copy.jpg" id="postedPic">
				<div id="likesDiv">
					<i class="fa fa-thumbs-o-up"></i>
					<p class="inline">20</p>
				</div>
				<h4>Me and the bro</h4>
			</div>
			<div id="worldPicContainer" class="shadow">
				<h4>Username</h4>
				<img src="20150101_140518 copy.jpg" id="postedPic">
				<div id="likesDiv">
					<i class="fa fa-thumbs-o-up"></i>
					<p class="inline">20</p>
				</div>
				<h4>Me and the bro</h4>
			</div>
			<div id="worldPicContainer" class="shadow">
				<h4>Username</h4>
				<img src="20150101_140518 copy.jpg" id="postedPic">
				<div id="likesDiv">
					<i class="fa fa-thumbs-o-up"></i>
					<p class="inline">20</p>
				</div>
				<h4>Me and the bro</h4>
			</div>
		</div>
	</div>
</template>