#worldPicContainer{
	width: 50%;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	word-wrap:break-word;
}

.fa-thumbs-o-up{
	font-size: 1.6em;
}

#likesDiv{
	margin: 10px;
}

#commentInput{
	width: 100%;
	position: relative;
	left: -7px;
}

#submitComment{
	margin-top: 5px;
	padding: 5px;

	display: block;
	margin-right: auto;
	margin-left: auto;

	width: 60px;

	color: white;
	background: #660033;
	border: 2px solid #660033;
}

#submitComment:hover{
	background: #cc0066;
	border: 2px solid #cc0066;
}

@media (max-width: 800px){
	#worldPicContainer{
		width: 91%;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 20px;
		background: white;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		word-wrap:break-word;
	}

}