<template name="yourPics">
	<div class="container">
		<h2 class="center-text">My Pictures</h2>
		<div class="col-md-12 center">
			{{#each myImages}}
			<div id="yourPicContainer" class="shadow inline-block">
				<h4>{{this.metadata.username}}</h4>
				<h5>{{this.copies.images.updatedAt}}</h5>
				<img src="{{this.url}}" id="postedYourPic">
				<div id="likesDiv">
					<i class="fa fa-thumbs-o-up"></i>
					<p class="inline">{{this.metadata.likes}}</p>
				</div>
				<h4>{{this.metadata.post}}</h4>
			</div>
			{{/each}}
		</div>
	</div>
</template>