<template name="selectedPicture">
	<div class="container">
		{{#each selectedPic}}
			<div id="controls">
				<button class="btn btn-default" id="sel-del">Delete Picture</button>
				<button class="btn btn-default" id="sel-ban">Ban User</button>
				<button class="btn btn-default" id="sel-prof">User Profile</button>
				<button class="btn btn-default" id="sel-comm" data-toggle="modal" data-target="#myModal">View Comments</button>
			</div>
			<img src="{{this.url}}" class="img-responsive" id="selectedPic">
		{{/each}}
	</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

</template>