<template name="selectedPicture">
	<div class="container">
		{{#each selectedPic}}
			<div id="controls">
				<button class="btn btn-default" id="sel-del">Delete Picture</button>
				<button class="btn btn-default" id="sel-ban">Ban User</button>
				<button class="btn btn-default" id="sel-prof">User Profile</button>
				<button class="btn btn-default" id="sel-comm">View Comments</button>
			</div>
			<img src="{{this.url}}" class="img-responsive" id="selectedPic">

				<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog" style="display:none;">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			       	<h4>Comments</h4>
			       	<p>Picture was posted <strong>{{timeSincePosted this.metadata.date }}</strong></p>
			      </div>
			      <div class="modal-body">
						
						<p></p>
						<i class="fa fa-thumbs-o-up {{#if likedPhoto}}likedPicture{{/if}}"></i>
						<p class="inline">{{likeCount this.metadata.likes}}</p>
						<p></p>
				
						{{#each this.metadata.comments}}
							<p class="pPost"><strong>{{this.username}}</strong> {{this.comment}}</p>
							<i class="fa fa-pencil-square-o {{#if showOrHideBlock this ../metadata.userId}}{{else}}hidden{{/if}}" currentComment="{{this.comment}}" currentId="{{../_id}}" commentId="{{this._id}}" currentIndex="{{@index}}" userId="{{this.userId}}" username="{{this.username}}" ownersUserId="{{../metadata.userId}}"></i>
						{{/each}}
						<input type="text" class="form-control inline pComment" id="commentInput" placeholder="speak your mind">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
		{{/each}}
	</div>
</template>