#selectedPic{
	display: block;
	margin: 10px auto 10px auto;
	width: 80%;
	height: 80%;
}

#controls{
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#myModal {
    color: black;
    height: 500px;
}

.modal-body{
	overflow: auto;
	word-wrap:break-word;
	height: 275px;
}

@media (max-width: 800px){
	#selectedPic{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
		width: 150%;
		height: 100%;
	}
}